#app {
    height: calc(100dvh - 3rem);
}


#dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.5rem, 1fr));
    gap: .75rem;
}

#details {
    height: calc(100dvh - 3rem);
}

#advisor-details {
    height: calc(100dvh - 3rem);
}

#view-results-container {
    height: calc(100dvh - 12.5rem)
}

#view-results-container>#student-table-container {
    height: calc(100dvh - 10rem);
}

#profile-container {
    height: calc(100dvh - 6rem);
}

#class-list-container {
    min-height: calc(100dvh - 8rem);
}

.list-div > h1 {
    width: calc(100dvw - 7.5rem)
}

#bar-chart, #line-chart {
    height: 15rem;
    width: 100%;
}

#advisor-results > a.active {
    position: relative;
    color: var(--body-300);
}

#advisor-results>a.active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--primary);
    bottom: -.5rem;
}

#advisor-results-container {
    height: calc(100dvh - 17.5rem);
    overflow: scroll;
}

#advisor-results-container-single {
    height: calc(100dvh - 18rem);
    overflow: scroll;
}

#advisor-results-container-cgpa-summary {
    height: calc(100dvh - 14rem);
    overflow: scroll;
}


@media (min-width: 768px) {
    #student-course-details-home {
        width: 22rem;
        --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border-color: rgb(148 163 184 / 1);
    }

    #advisor-results-container {
        height: calc(100dvh - 14rem)
    }
}

@media (min-width: 1024px) {
    #details {
        height: auto;
    }

    #full-student-details {
        min-height: calc(100dvh - 4.8rem);
    }

    #chart-container {
        min-height: calc(100dvh - 25.5rem);
    }

    .list-div>h1 {
        width: auto;
    }
}

