main {
    width: 100%;
    height: 100%;
}

.login {
    width: 456px;
    height: 446px;
}

.login form {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
    height: 70%;
    width: 100%;
    justify-content: space-between;
}

.input-label {
    position: relative;
}
.input-label > input {
    width: 100%;
}
.form--bottom {
    margin-top: 1rem;
}
.form--bottom > div {
    margin-left: 5px;
}
.form--bottom > div > input{
    transform: scale(1.5)
}
.form--bottom > div > label > span {
    font-size: var(--text-small);
}
.form--bottom > a:hover {
    color: var(--accent);
}
.login form > button {
    width: 100%;
}

@media only screen and (max-width: 550px) {
    .login {
        width: 100%;
        padding: 0 1rem;
    }
}
